.debug {
  height: 50px;
  border: 1px solid red;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.lens-navbar {
  height: 30px;
}

.card-img-top {
  border-radius: 15px;
}

.sony-logo {
  height: 30px;
  width: 100%;
  background-color: #000000;
  background-image: url(./img/sony_logo.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.container-bg {
  background-image: url(./img/jumbo-bg.png);
  background-color: #cccccc;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
}
.container-banner {
  position: absolute;

  bottom: 8px;
  left: 16px;
}

.hero-banner {
  height: 50%;
}

.container-it {
  background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
  background-color: #cccccc;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
}

.takes-banner {
  height: 100px;
}

.container-games {
  background-color: #1f1f1f;
  color: white;
}

.plus {
  background-color: #bebcbb;
}

.logo-img {
  height: 50px;
}

.ps-now {
  background-color: #161c3b;
  color: white;
}

footer {
  background-color: #00439c;
  color: white;
}

.ps-footer {
  width: 20px;
  float: left;
  margin-right: 5px;
}

.sonysie-logo {
  width: 150px;
}

@media screen and (min-width: 992px) {
  .takes-banner {
    height: 300px;
  }

  .social {
    height: 50%;
  }
}
